$missing-color: rgba(255, 0, 0, .2);
$editable-color: rgba(255, 255, 0, .3);

[contenteditable=true]:hover, [contenteditable=true]:focus {
  background: $editable-color;
}

.localized-missing {
  background: $missing-color;
}
